<h2 class="ui center aligned  medium icon header">
  <i class="circular comments icon"></i>
  Chat Box
</h2>

<div class="ui grid">

  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">

      <div class="content">
        <div class="ui feed">
          <h4 class="ui header">Conversation</h4>
          <em><strong>Haider :</strong></em> Your Message will be displayed here..
        </div>
      </div>

      <div class="ui left icon input">
        <input type="text" placeholder="Enter Your Message here...">
        <i class="comments icon"></i>
      </div>

    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui vertical menu">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>

</div>